.page.theme_dark {
  --main-text-color: #f1b2ce;
  --text-color: #db00ff;
  --accent-color: #ff0070;
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --content-title-color: var(--background-color);
  --container-title-color: var(--accent-color);
  --border-color: var(--main-text-color);
  --corners-color: var(--accent-color);
  --title-decor: var(--accent-color);
  --link-shadow: var(--accent-color);
  --rec-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #f1b2ce;
    --text-color: #db00ff;
    --accent-color: #ff0070;
    --hover-color: 1px solid rgba(255, 0, 112, 0.4);
    --background-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --content-title-color: var(--background-color);
    --container-title-color: var(--accent-color);
    --border-color: var(--main-text-color);
    --corners-color: var(--accent-color);
    --title-decor: var(--accent-color);
    --link-shadow: var(--accent-color);
    --rec-color: var(--accent-color);
  }
}
