.page.theme_light {
  --main-text-color: #353430;
  --text-color: #ffc2e6;
  --accent-color: #ff0070;
  --title-decor: #ff8dcb;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --content-title-color: var(--main-text-color);
  --container-title-color: var(--main-text-color);
  --border-color: var(--accent-color);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--text-color);
  --rec-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --text-color: #ffc2e6;
    --accent-color: #ff0070;
    --title-decor: #ff8dcb;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --content-title-color: var(--main-text-color);
    --container-title-color: var(--main-text-color);
    --border-color: var(--accent-color);
    --corners-color: var(--main-text-color);
    --link-shadow: var(--text-color);
    --rec-color: var(--background-color);
  }
}




